{% extends 'base.html' %}
{% load static %}


{% block title %}
    | {{ post.title }}
{% endblock title %}


{% block message %}
    {% include 'partials/messages.html' %}
{% endblock message %}
    
{% block body %}
    

        <!-- breadcrumb area start -->
        <div class="breadcrumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-wrap">
                            <nav aria-label="breadcrumb">
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'products:index' %}">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">{{post.title}}</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb area end -->

        <!-- blog main wrapper start -->
        <div class="blog-main-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 order-2">
                        <div class="blog-sidebar-wrapper mt-md-34 mt-sm-30">
                            <div class="blog-sidebar mb-30">
                                <div class="sidebar-serch-form">
                                    <form action="#">
                                        <input type="text" class="search-field" placeholder="search here">
                                        <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                            </div> <!-- single sidebar end -->
                            <div class="blog-sidebar mb-24">
                                <h4 class="title mb-20">categories</h4>
                                <ul class="blog-archive">
                                    <li><a href="#">dry food (10)</a></li>
                                    <li><a href="#">wet food (08)</a></li>
                                    <li><a href="#">reach (07)</a></li>
                                    <li><a href="#">organic (14)</a></li>
                                    <li><a href="#">capcicum (10)</a></li>
                                </ul>
                            </div> <!-- single sidebar end -->
                            <div class="blog-sidebar mb-24">
                                <h4 class="title mb-20">Blog Archives</h4>
                                <ul class="blog-archive">
                                    <li><a href="#">January (10)</a></li>
                                    <li><a href="#">February (08)</a></li>
                                    <li><a href="#">March (07)</a></li>
                                    <li><a href="#">April (14)</a></li>
                                    <li><a href="#">May (10)</a></li>
                                </ul>
                            </div> <!-- single sidebar end -->
                            <div class="blog-sidebar mb-24">
                                <h4 class="title mb-30">recent post</h4>
                                
                                
                                {% for blog in recent %}
                                <div class="recent-post mb-20">
                                    <div class="recent-post-thumb">
                                        <a href="{% url 'blog:blog-detail' blog.slug blog.pk %}">
                                            <img src="{{blog.small_image_thumbnail.url}}" alt="">
                                        </a>
                                    </div>
                                    <div class="recent-post-des">
                                        <span><a href="{% url 'blog:blog-detail' blog.slug blog.pk %}">{{ blog.title }}</a></span>
                                        <span class="post-date">{{ blog.pub_date|date:"d.M.Y" }}</span>
                                    </div>
                                </div> <!-- end single popular item -->
                                {% endfor %}
                                    

                            </div> <!-- single sidebar end -->
                            <div class="blog-sidebar mb-24">
                                <h4 class="title mb-30">Tags</h4>
                                <ul class="blog-tags">
                                    <li><a href="#">camera</a></li>
                                    <li><a href="#">computer</a></li>
                                    <li><a href="#">watch</a></li>
                                    <li><a href="#">smartphone</a></li>
                                    <li><a href="#">bag</a></li>
                                    <li><a href="#">shoes</a></li>
                                </ul>
                            </div> <!-- single sidebar end -->
                        </div>
                    </div>
                    <div class="col-lg-9 order-1">
                        <div class="blog-wrapper-inner">
                            <div class="row blog-content-wrap">
                                <!-- start single blog item -->
                                <div class="col-lg-12">
                                    <div class="blog-item mb-30">
                                        <div class="blog-thumb img-full fix">
                                            <div class="blog-gallery-slider slick-arrow-style_2">

                                                {% if blog_media %}
                                                
                                                    
                                                {% for media in blog_media %}
                                                    <div class="blog-single-slide">
                                                        <img src="{{ media.image_thumbnail.url }}" alt="">
                                                    </div>
                                                {% endfor %}
                                            
                                                {% else %}
                                                <div class="blog-single-slide">
                                                    <img src="post.image_thumbnail.url" alt="">
                                                </div>
                                                {% endif %}
                                                
                                                
                                            </div>
                                        </div>
                                        <div class="blog-content">
                                            <div class="blog-details">
                                                <h3 class="blog-heading">{{ post.title }}</h3>
                                                <div class="blog-meta">
                                                    <a class="author" href="#"><i class="icon-people"></i> {{ post.author }}</a>
                                                    <a class="comment" href="#"><i class="icon-bubbles"></i> {{ post.no_of_comments }} comment</a>
                                                    <a class="post-time" href="#"><i class="icon-calendar"></i> {{ post.pub_date|date:"d M Y" }}</a>
                                                </div>
                                                <p>Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero eu augue condimentum rhoncus. Cras pretium arcu ex. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum laborum in labore rerum</p>
                                                <blockquote><p>Quisque semper nunc vitae erat pellentesque, ac placerat arcu consectetur. In venenatis elit ac ultrices convallis. Duis est nisi, tincidunt ac urna sed, cursus blandit lectus. In ullamcorper sit amet ligula ut eleifend. Proin dictum tempor ligula, ac feugiat metus. Sed finibus tortor eu scelerisque scelerisque. Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero eu augue condimentum rhoncus. Cras pretium arcu ex</p></blockquote> 
                                                <p>Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero eu augue condimentum rhoncus. Cras pretium arcu ex. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum laborum in labore Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero eu augue condimentum rhoncus. Cras pretium arcu ex. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum laborum in labore rerum
                                                Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero eu augue condimentum rhoncus. Cras pretium arcu ex. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum laborum in labore rerum </p>
                                            </div>
                                        </div>
                                        <div class="tag-line">
                                            <h4>tag:</h4>
                                            <a href="#">dry food</a>,
                                            <a href="#">wet food</a>,
                                            <a href="#">reach food</a>,
                                        </div>
                                        <div class="blog-sharing text-center mt-34 mt-sm-34">
                                            <h4>share this post:</h4>
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-pinterest"></i></a>
                                            <a href="#"><i class="fa fa-google-plus"></i></a>
                                        </div>
                                    </div>
                                        
                                    <!-- Comment Section -->

                                    <div class="comment-section">
                                        <h3>{{ post.no_of_comments }} comment</h3>
                                        <ul>
                                            
                                            {% for comment in comments %}
                                            <li>
                                                <div class="author-avatar">
                                                    <img src="{{ comment.user.profile.profile_pic_thumbnail.url }}" alt="">
                                                </div>
                                                <div class="comment-body">
                                                        <span class="reply-btn"><a href="#">reply</a></span>
                                                    <h5 class="comment-author">{{ comment.user.username }}</h5>
                                                    <div class="comment-post-date">
                                                        {{comment.timestamp|timesince}} ago
                                                    </div>
                                                    <p>{{ comment.content }}</p>
                                                </div>
                                            </li>
                                            {% endfor %}
                                                
                                            
                                        </ul>
                                    </div>
                                    <!-- comment area start -->
                                    <!-- start blog comment box -->
                                    <div class="blog-comment-wrapper mb-sm-6">
                                        <h3>leave a reply</h3>
                                        <p>Please leave a comment, We appreciate your feedback</p>
                                        <form action="{% url 'blog:add-comment' post.slug post.pk %}" method='POST'>{% csrf_token %}
                                            <div class="comment-post-box">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <label>comment</label>
                                                        <textarea name="content" placeholder="Write a comment"></textarea>
                                                    </div>
                                                    
                                                    <div class="col-12">
                                                        <div class="coment-btn mt-20">
                                                            <input class="sqr-btn" type="submit" name="submit" value="post comment">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- start blog comment box -->
                                </div>
                                <!-- end single blog item -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- blog main wrapper end -->

        <!-- brand area start -->
            {% include 'partials/brand.html' %}
        <!-- brand area end -->

      
{% endblock body %}
    
    