        <!-- brand area start -->
        <div class="brand-area pt-28 pb-30">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title mb-30">
                            <div class="title-icon">
                                <i class="fa fa-crop"></i>
                            </div>
                            <h3>Popular Brand</h3>
                        </div> <!-- section title end -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="brand-active slick-padding slick-arrow-style">

                            
                            {% for brand in popular_brands %}
                                <div class="brand-item text-center">
                                    <a href="#"><img src="{{ brand.avatar_thumbnail.url }}" alt=""></a>
                                </div>
                            {% endfor %}
                                
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- brand area end -->