{% extends 'base.html' %}
{% load static %}


{% block title %}
   | About Us
{% endblock title %}



{% block body %}
    

        <!-- breadcrumb area start -->
        <div class="breadcrumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-wrap">
                            <nav aria-label="breadcrumb">
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'products:index' %}">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">about us</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb area end -->

        <!-- about wrapper start -->
        <div class="about-us-wrapper pt-4">
            <div class="container">
                <div class="row">
                    <!-- About Text Start -->
                    <div class="col-lg-6">
                        <div class="about-text-wrap">
                            <h2><span>Provide Best</span>Product For You</h2>
                            <p>We provide the best Beard oile all over the world. We are the worldd best store in indi for Beard Oil. You can buy our product without any hegitation because they truste us and buy our product without any hagitation because they belive and always happy buy our product.</p>
                            <p>Some of our customer say’s that they trust us and buy our product without any hagitation because they belive us and always happy to buy our product.</p>
                            <p>We provide the beshat they trusted us and buy our product without any hagitation because they belive us and always happy to buy.</p>
                        </div>
                    </div>
                    <!-- About Text End -->
                    <!-- About Image Start -->
                    <div class="col-lg-5 ml-auto">
                        <div class="about-image-wrap mt-md-26 mt-sm-26">
                            <img src="{% static 'assets/img/about/about.jpg' %}" alt="About" />
                        </div>
                    </div>
                    <!-- About Image End -->
                </div>
            </div>
        </div>
        <!-- about wrapper end -->

        <!-- team area start -->
        <div class="team-area pt-28">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="title-box text-center mb-10">
                            <h3>our team</h3>
                        </div>
                    </div>
                </div> <!-- section title end -->
                <div class="row">

                    
                    {% for staff in staffs %}
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="team-member mb-30">
                            <div class="team-thumb img-full">
                                <img src="{{ staff.profile_pic_thumbnail.url }}" alt="">
                                <div class="team-social">
                                    <a href="{{ staff.facebook }}"><i class="fa fa-facebook"></i></a>
                                    <a href="{{ staff.twitter }}"><i class="fa fa-twitter"></i></a>
                                    <a href="{{ staff.linkedin }}"><i class="fa fa-linkedin"></i></a>
                                    <a href="{{staff.googleplus}}"><i class="fa fa-google-plus"></i></a>
                                </div>
                            </div>
                            <div class="team-content text-center">
                                <h3>{{staff.user.username}}</h3>
                                <h6>{{ staff.position }}</h6>
                                <p>{{ staff.description }}</p>
                            </div>
                        </div>
                    </div> 
                    {% endfor %}
                        
                    <!-- end single team member -->
                    
                </div>
            </div>
        </div>
        <!-- team area end -->

        <!-- testimonial area start -->
        <div class="testimonial-area2">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="testimonial-title text-center mb-28">
                            <h3>happy customer</h3>
                        </div> <!-- section title end -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="testimonial-carousel-active testimonial-style-2 slick-dot-style">
                            
                            
                            {% for review in cus_reviews %}
                                <div class="testimonial-item text-center">
                                    <div class="testimonial-thumb">
                                        <img src="{{ review.user.profile.profile_pic_thumbnail.url }}" alt="review">
                                    </div>
                                    <div class="testimonial-content">
                                        <p>{{ review.content }}</p>
                                        <h3><a href="#">{{ review.user }}</a></h3>
                                    </div>
                                </div> <!-- end single testimonial item -->
                            {% endfor %}
                                
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- testimonial area end -->

        <!-- choosing area start -->
        <div class="choosing-area pt-28">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="title-box text-center mb-30">
                            <h3>why choose us</h3>
                        </div>
                    </div>
                </div> <!-- section title end -->
                <div class="row">
                    <div class="col-lg-4">
                        <div class="single-choose-item text-center mb-md-30 mb-sm-30">
                            <i class="fa fa-globe"></i>
                            <h4>free shipping</h4>
                            <p>All the shops in R-Market Provide free delivery for goods worth over ksh. 2000</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-choose-item text-center mb-md-30 mb-sm-30">
                            <i class="fa fa-plane"></i>
                            <h4>fast delivery</h4>
                            <p>The R-Market team together with the merchants work together soo hard to provide fast delivery of goods</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-choose-item text-center mb-md-30 mb-sm-30">
                            <i class="fa fa-comments"></i>
                            <h4>customers support</h4>
                            <p>R-Market provides a 24/7 customer support.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- choosing area end -->

        <!-- brand area start -->
        {% include 'partials/brand.html' %}
        <!-- brand area end -->

       
{% endblock body %}
    
    