{% extends 'base.html' %}
{% load static %}


{% block title %}
    | Compare Specs
{% endblock title %}


{% block body %}
    

        <!-- breadcrumb area start -->
        <div class="breadcrumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-wrap">
                            <nav aria-label="breadcrumb">
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'products:index' %}">Home</a></li>
                                    <li class="breadcrumb-item"><a href="{% url 'products:shop' %}">shop</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">compare</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb area end -->

        <!-- compare main wrapper start -->
        <div class="compare-page-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Compare Page Content Start -->
                        <div class="compare-page-content-wrap">
                            <div class="compare-table table-responsive">
                                <table class="table table-bordered mb-0">
                                    <tbody>
                                    <tr>
                                        <td class="first-column">Product</td>


                                        
                                        {% for product in compare_items %}
                                        <td class="product-image-title">
                                            <a href="{{ product.get_absolute_url }}" class="image">
                                                <img class="img-fluid" src="{{ product.image_thumbnail.url }}" alt="Compare Product">
                                            </a>
                                            <a href="#" class="category">{{ product.product_name }}</a>
                                            <a href="{% url 'products:category-objects' product.category.slug %}" class="title">{{ product.category.title }}</a>
                                            <a href="{% url 'products:shop-products' product.added_by_merchant.shop.slug %}" class="title">{{ product.added_by_merchant.shop.shop_name }}</a>
                                        </td>
                                        {% endfor %}
                                            
                                        
                                    </tr>
                                    <tr>
                                        <td class="first-column">Description</td>


                                        
                                        {% for product in compare_items %}
                                        <td class="pro-desc">
                                            <p>{{ product.product_description|safe }}</p>
                                        </td>
                                        {% endfor %}
                                            
                                        
                                    </tr>
                                    <tr>
                                        <td class="first-column">Price</td>

                                       
                                       {% for product in compare_items %}
                                         <td class="pro-price">Ksh. {{ product.product_discount_price }}</td>
                                       {% endfor %}
                                           
                                       
                                    </tr>
                                    <tr>
                                        <td class="first-column">Color</td>

                                        
                                        {% for product in compare_items %}
                                            <td class="pro-color">Black</td>
                                        {% endfor %}
                                            
                                        
                                    </tr>
                                    <tr>
                                        <td class="first-column">Stock</td>

                                        
                                        {% for product in compare_items %}
                                        <td class="pro-stock">In Stock</td>
                                        {% endfor %}
                                            

                                    </tr>
                                    <tr>
                                        <td class="first-column">Add to cart</td>
                                        
                                        {% for product in compare_items %}
                                        <td><a href="cart.html" class="sqr-btn">Add to Cart</a></td>
                                        {% endfor %}
                                            
                                        
                                    </tr>
                                    <tr>
                                        <td class="first-column">Rating</td>

                                        
                                        {% for product in compare_items %}
                                        <td class="pro-ratting">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                        </td>
                                        {% endfor %}
                                            
                                        
                                    </tr>
                                    <tr>
                                        <td class="first-column">Remove</td>

                                        
                                        {% for product in compare_items %}
                                        <td class="pro-remove">
                                            <button><i class="fa fa-trash-o"></i></button>
                                        </td>
                                        {% endfor %}
                                            
                                        
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- Compare Page Content End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- compare main wrapper end -->

        <!-- brand area start -->
        {% include 'partials/brand.html' %}
        <!-- brand area end -->

        
{% endblock body %}
    